<div class="wow lightSpeedIn container" data-wow-offset="400" [style.height]="componentHeight" id="about-me" >
    <div class="row">
        <div class="col-lg-7 col-md-7">
            <h1>{{ title }}</h1>
            <p>{{ introduce1 }}</p>
            <p>{{ introduce2}}</p>
            <p>{{ introduce3 }}</p>
        </div>
        <div class="col-lg-1 col-md-1" ></div>
        <div class="col-lg-4 col-md-4" >
                <img src="assets/images/bussinessman.png">
        </div>
    </div>
</div>