<!-- <div class="wow lightSpeedIn container" data-wow-offset="400" [style.height]="componentHeight" id="about-me" >
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <h1>{{ title }}</h1>
            <p>{{ introduce1 }}</p>
            <p>{{ introduce2}}</p>
        </div>
        <div class="col-lg-2 col-md-2" ></div>
        <div class="col-lg-4 col-md-4" >
                <img src="assets/images/bussinessman.png">
        </div>
    </div>
</div> -->


<!-- <section class="row no-gutters" id="features">
    <div class="col-lg-3 col-md-6 col-sm-12 deep-purple lighten-1 text-white">
      <div class="p-5 text-center wow zoomIn" data-wow-delay=".1s"><i class="fa fa-line-chart fa-2x"></i>
        <div class="h5 mt-3">Sứ Mệnh 1</div>
        <p class="mt-5">MÔ tả sứ mệnh 1 MÔ tả sứ mệnh 1 MÔ tả sứ mệnh 1 MÔ tả sứ mệnh 1 MÔ tả sứ mệnh 1 MÔ tả sứ mệnh 1 MÔ tả sứ mệnh 1 MÔ tả sứ mệnh 1.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 purple lighten-1 text-white">
      <div class="p-5 text-center wow zoomIn" data-wow-delay=".3s"><i class="fa fa-industry fa-2x"></i>
        <div class="h5 mt-3">Sứ Mệnh 2</div>
        <p class="mt-5">MÔ tả sứ mệnh 2 MÔ tả sứ mệnh 2 MÔ tả sứ mệnh 2 MÔ tả sứ mệnh 2 MÔ tả sứ mệnh 2 MÔ tả sứ mệnh 2 MÔ tả sứ mệnh 2 MÔ tả sứ mệnh 2 </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 teal lighten-1 text-white">
      <div class="p-5 text-center wow zoomIn" data-wow-delay=".5s"><i class="fa fa-users fa-2x"></i>
        <div class="h5 mt-3">Sứ Mệnh 3</div>
        <p class="mt-5">MÔ tả sứ mệnh 3 MÔ tả sứ mệnh 3 MÔ tả sứ mệnh 3 MÔ tả sứ mệnh 3 MÔ tả sứ mệnh 3 MÔ tả sứ mệnh 3 MÔ tả sứ mệnh 3 MÔ tả sứ mệnh 3 .</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 light-blue lighten-1 text-white">
      <div class="p-5 text-center wow zoomIn" data-wow-delay=".7s"><i class="fa fa-bullhorn fa-2x"></i>
        <div class="h5 mt-3"> Sứ Mệnh 4</div>
        <p class="mt-5">MÔ tả sứ mệnh 4 MÔ tả sứ mệnh 4 MÔ tả sứ mệnh 4 MÔ tả sứ mệnh 4 MÔ tả sứ mệnh 4 MÔ tả sứ mệnh 4 MÔ tả sứ mệnh 4 MÔ tả sứ mệnh 4 MÔ tả sứ mệnh 4 MÔ tả sứ mệnh 4 .</p>
      </div>
    </div>
  </section> -->
  <section class="text-center py-5 grey lighten-4" id="about">
    <div class="container">
      <div class="wow fadeIn">
        <h2 class="h1 pt-5 pb-3">Tại sao nên chọn chúng tôi?</h2>
        <p class="px-5 mb-5 pb-3 lead blue-grey-text">
          Công ty TNHH kiến trúc nội thất A Decor là công ty hoạt động trong lĩnh vực tư vấn thiết kế, thi công các công trình kiến trúc, nội thất..
          A Decor với đội ngũ KTS trẻ tài năng làm việc với tất cả lòng đam mê, sự nhiệt huyết với nghề. Chúng tôi luôn không ngừng nâng cao, học hỏi mang đến cho khách hàng những sản phẩm tốt nhất, giá trị nhất và hoàn hảo nhất...
        </p>
      </div>
      <div class="row">
        <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".3s"><i class="fa fa-dashboard fa-3x orange-text"></i>
          <h3 class="h4 mt-3">Design</h3>
          <p class="mt-3 blue-grey-text">
            Công ty TNHH kiến trúc nội thất A Decor là công ty hoạt động trong lĩnh vực tư vấn thiết kế, thi công các công trình kiến trúc, nội thất..
            
          </p>
        </div>
        <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-comments-o fa-3x cyan-text"></i>
          <h3 class="h4 mt-3">Feedback</h3>
          <p class="mt-3 blue-grey-text">
            Công ty TNHH kiến trúc nội thất A Decor là công ty hoạt động trong lĩnh vực tư vấn thiết kế, thi công các công trình kiến trúc, nội thất..
            
          </p>
        </div>
        <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-cubes fa-3x red-text"></i>
          <h3 class="h4 mt-3">Execution</h3>
          <p class="mt-3 blue-grey-text">
            Công ty TNHH kiến trúc nội thất A Decor là công ty hoạt động trong lĩnh vực tư vấn thiết kế, thi công các công trình kiến trúc, nội thất..
            
          </p>
        </div>
      </div>
    </div>
  </section>