
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="navbar">
      <div class="container"><a class="navbar-brand" href="#"><strong>A Decor</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/trangchu']" [routerLinkActive]="['active-tab-navigation']" [routerLinkActiveOptions]="{exact:false}">Giới thiệu</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/thietke']" [routerLinkActive]="['active-tab-navigation']" [routerLinkActiveOptions]="{exact:false}">Nội thất</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/noithat']" [routerLinkActive]="['active-tab-navigation']" [routerLinkActiveOptions]="{exact:false}">Kiến trúc</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/linhvuckhac']" [routerLinkActive]="['active-tab-navigation']" [routerLinkActiveOptions]="{exact:false}">Lĩnh vực khác</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Intro Section-->
    <section class="view hm-gradient" id="intro">
      <div class="full-bg-img d-flex align-items-center">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-md-10 col-lg-6 text-center text-md-left margins">
              <div class="white-text">
                <div class="wow fadeInLeft" data-wow-delay="0.3s">
                  <h1 class="h1-responsive font-bold mt-sm-5">Vẻ đẹp của căn nhà của bạn là sứ mệnh của chúng tôi.</h1>
                  <div class="h6">
                    Công ty TNHH kiến trúc nội thất A Decor là công ty hoạt động trong lĩnh vực tư vấn thiết kế, thi công các công trình kiến trúc, nội thất..
                  </div>
                  <div class="h6">
                    A Decor với đội ngũ KTS trẻ tài năng làm việc với tất cả lòng đam mê, sự nhiệt huyết với nghề. Chúng tôi luôn không ngừng nâng cao, học hỏi mang đến cho khách hàng những sản phẩm tốt nhất, giá trị nhất và hoàn hảo nhất...
                  </div>
                </div><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
