<!-- <div class="container-fluid project-background"> -->
    <div class="container" id="my-project" [style.height]="componentHeight">
        <div class="row">
            <div class="wow fadeInUp col-sm-6 col-md-4" data-wow-offset="150">
                <div class="fram" (click)="openProjectDialog()">
                    <img class="drawing" src="assets/images/drawing1.jpg">             
                    <div class="project-introduce">
                        <h6>DỰ ÁN SPA</h6>
                        <p>Là dự án cho spa làm đẹp, Là dự án cho spa làm đẹp, Là dự án cho spa làm đẹp</p>
                    </div>
                </div>
            </div>
        
            <div class="wow shake col-sm-6 col-md-4" data-wow-offset="150">
                <div class="fram" (click)="openProjectDialog()">
                    <img class="drawing"  src="assets/images/drawing2.jpg">
                    <div class="project-introduce">
                        <h6>DỰ ÁN SPA</h6>
                        <p>Là dự án cho spa làm đẹp, Là dự án cho spa làm đẹp, Là dự án cho spa làm đẹp</p>
                    </div>
                </div>
            </div>

            <div class="wow fadeInLeft col-sm-6 col-md-4" data-wow-offset="150">
                <div class="fram" (click)="openProjectDialog()">
                    <img class="drawing" src="assets/images/drawing1.jpg">             
                    <div class="project-introduce">
                        <h6>DỰ ÁN SPA</h6>
                        <p>Là dự án cho spa làm đẹp, Là dự án cho spa làm đẹp, Là dự án cho spa làm đẹp</p>
                    </div>
                </div>
            </div>
        
            <div class="wow fadeInRight col-sm-6 col-md-4" data-wow-offset="150">
                <div class="fram" (click)="openProjectDialog()">
                    <img class="drawing"  src="assets/images/drawing2.jpg">
                    <div class="project-introduce">
                        <h6>DỰ ÁN SPA</h6>
                        <p>Là dự án cho spa làm đẹp, Là dự án cho spa làm đẹp, Là dự án cho spa làm đẹp</p>
                    </div>
                </div>
            </div>

            <div class="wow lightSpeedIn col-sm-6 col-md-4" data-wow-offset="150">
                <div class="fram" (click)="openProjectDialog()">
                    <img class="drawing" src="assets/images/drawing1.jpg">             
                    <div class="project-introduce">
                        <h6>DỰ ÁN SPA</h6>
                        <p>Là dự án cho spa làm đẹp, Là dự án cho spa làm đẹp, Là dự án cho spa làm đẹp</p>
                    </div>
                </div>
            </div>
        
            <div class="wow fadeInUp col-sm-6 col-md-4" data-wow-offset="150">
                <div class="fram" (click)="openProjectDialog()">
                    <img class="drawing"  src="assets/images/drawing2.jpg">
                    <div class="project-introduce">
                        <h6>DỰ ÁN SPA</h6>
                        <p>Là dự án cho spa làm đẹp, Là dự án cho spa làm đẹp, Là dự án cho spa làm đẹp</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->

