<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-5 flex-center"><a class="px-3"><i class="fa fa-facebook fa-lg white-text"></i></a><a class="px-3"><i class="fa fa-twitter fa-lg white-text"></i></a><a class="px-3"><i class="fa fa-google-plus fa-lg white-text"></i></a><a class="px-3"><i class="fa fa-linkedin fa-lg white-text"></i></a></div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
      <p>&copy; <a href="/">A Decor</a> - Design: <a href="https://www.facebook.com/ADecor.vn/" target="_blank">NghiaTran</a></p>
    </div>
  </div>