<!-- The content of your page would go here. -->

<div class="footer-distributed">

    <div class="footer-left">

        <h3><img src="assets/images/logo2.jpg"></h3>

        <p class="footer-links">
            <span>Chuyên nghiệp</span>
            ·
            <span>Tận tâm</span>
            ·
            <span>Giá cả cạnh tranh</span>
            ·
            <span>Bảo hành</span>
        </p>

        <p class="footer-company-name">Decor &copy; 2015</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Lô A22-058 Đường số 15 KDC Hiệp Thành 3, P Hiệp Thành</span> TP Thủ Dầu Một</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>0987 456 975 </p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">kientrucnoithatadecor@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <!-- <p class="footer-company-about">
            <span>About the company</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p> -->

        <div class="footer-icons">

            <a href="https://www.facebook.com/ADecor.vn/"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</div>